<a href="https://colab.research.google.com/github/VIPlearner/csv-files/blob/main/KaggleTitanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
#installing relevant libraries
!pip install xgboost
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge, Lasso
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MaxAbsScaler, MinMaxScaler, Normalizer, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression, ElasticNet
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV, train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.7.3)

In [90]:
#importing data from my github profile
train_df=pd.read_csv("https://raw.githubusercontent.com/VIPlearner/csv-files/main/train.csv", index_col = 'PassengerId')
test_df = pd.read_csv("https://raw.githubusercontent.com/VIPlearner/csv-files/main/test.csv", index_col = 'PassengerId')
test_df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [77]:
train_df['train'] = 1
test_df['train'] = 0

In [78]:
all_df = pd.concat([train_df.drop('Survived', axis = 1), test_df])
target = train_df['Survived']
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    1309 non-null   int64
 1   Name      1309 non-null   object
 2   Sex       1309 non-null   object
 3   Age       1046 non-null   float64
 4   SibSp     1309 non-null   int64
 5   Parch     1309 non-null   int64
 6   Ticket    1309 non-null   object
 7   Fare      1308 non-null   float64
 8   Cabin     295 non-null    object
 9   Embarked  1307 non-null   object
 10  train     1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

In [79]:
all_df['Age'] = SimpleImputer().fit_transform(all_df[['Age']])
all_df['Fare'] = SimpleImputer().fit_transform(all_df[['Fare']])
all_df['Embarked'] = SimpleImputer(strategy = 'most_frequent').fit_transform(all_df[['Embarked']])
all_df['Cabin'] = SimpleImputer(strategy = 'most_frequent').fit_transform(all_df[['Cabin']])

all_df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,train
PassengerId,,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,C23 C25 C27,S,1
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,C23 C25 C27,S,1
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,C23 C25 C27,S,1

In [80]:
#dropping irrelevant features
all_df.drop(['Name'], axis = 1, inplace = True)
#df.drop(['Maker'], axis = 1, inplace = True)
#df.drop(['Model'], axis = 1, inplace = True)
# df.drop(['Distance'], axis = 1, inplace = True)
all_df['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6, 9])

In [81]:
#converting categorical columns to dtype category for the One Hot Encoder
all_df['Pclass'] = all_df.Pclass.astype('category')
all_df['Sex'] = all_df.Sex.astype('category')
all_df['SibSp'] = all_df.SibSp.astype('category')
all_df['Parch'] = all_df.Parch.astype('category')
all_df['Ticket'] = all_df.Ticket.astype('category')
all_df['Cabin'] = all_df.Cabin.astype('category')
all_df['Embarked'] = all_df.Embarked.astype('category')

# df['Colour'] = df.Colour.astype('category')
all_df.head()

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,train
PassengerId,,,,,,,,,,
1,3,male,22.0,1,0,A/5 21171,7.2500,C23 C25 C27,S,1
2,1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
3,3,female,26.0,0,0,STON/O2. 3101282,7.9250,C23 C25 C27,S,1
4,1,female,35.0,1,0,113803,53.1000,C123,S,1
5,3,male,35.0,0,0,373450,8.0500,C23 C25 C27,S,1

In [82]:
cat_col =['Pclass', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked']
for col in cat_col:
  all_df = pd.get_dummies(all_df,prefix=[col], columns = [col], drop_first=True)
all_df.head()

,Age,Fare,train,Pclass_2,Pclass_3,Sex_male,SibSp_1,SibSp_2,SibSp_3,SibSp_4,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,22.0,7.2500,1,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,38.0,71.2833,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,26.0,7.9250,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,35.0,53.1000,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,35.0,8.0500,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [83]:
train_df = all_df[all_df['train'] == 1].drop('train', axis = 1)
test_df = all_df[all_df['train'] == 0].drop('train', axis = 1)

In [84]:
X_train, X_test, y_train, y_test = train_test_split(train_df, target,
                                                    test_size = 0.3,
                                                   random_state = 42)

In [85]:
from xgboost.sklearn import XGBClassifier
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier()

In [86]:
print("model score: %.3f" % model.score(X_test, y_test))
y_pred = model.predict(X_test)
errors = mean_squared_error(y_test, y_pred, squared = False)
print(errors)

model score: 0.799
0.4488792012484348

In [87]:
test_y_pred = model.predict(test_df)

In [91]:
test_pred_df = pd.DataFrame({'PassengerId' : test_df.index, 'Survived': test_y_pred})
test_pred_df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [93]:
# converting dataframe to csv file
test_pred_df.to_csv('ninthtry.csv', encoding='utf-8', index=False)

In [94]:
# downloading csv file
from google.colab import files
files.download("ninthtry.csv")