<a href="https://colab.research.google.com/github/VIPlearner/csv-files/blob/main/KaggleTitanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
#installing relevant libraries
!pip install xgboost
!pip install pandas
!pip install sklearn
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge, Lasso
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MaxAbsScaler, MinMaxScaler, Normalizer, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression, ElasticNet
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV, train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import confusion_matrix

Requirement already satisfied: xgboost in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.6.1)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from xgboost) (1.23.1)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from xgboost) (1.8.1)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.23.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sklearn in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from sklearn) (1.1.1)
Requirement already satisfied: joblib>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.3.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.23.1)

In [48]:
#importing data from my github profile
train_df=pd.read_csv("https://raw.githubusercontent.com/VIPlearner/csv-files/main/train.csv", index_col = 'PassengerId')
test_df = pd.read_csv("https://raw.githubusercontent.com/VIPlearner/csv-files/main/test.csv", index_col = 'PassengerId')
test_df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [49]:
train_df['train'] = 1
test_df['train'] = 0

In [50]:
all_df = pd.concat([train_df.drop('Survived', axis = 1), test_df])
target = train_df['Survived']
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    1309 non-null   int64
 1   Name      1309 non-null   object
 2   Sex       1309 non-null   object
 3   Age       1046 non-null   float64
 4   SibSp     1309 non-null   int64
 5   Parch     1309 non-null   int64
 6   Ticket    1309 non-null   object
 7   Fare      1308 non-null   float64
 8   Cabin     295 non-null    object
 9   Embarked  1307 non-null   object
 10  train     1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

In [51]:
all_df['Age'] = SimpleImputer().fit_transform(all_df[['Age']])
# all_df['Fare'] = SimpleImputer().fit_transform(all_df[['Fare']])
all_df['Embarked'] = SimpleImputer(strategy = 'most_frequent').fit_transform(all_df[['Embarked']])
all_df['Cabin'] = SimpleImputer(strategy = 'most_frequent').fit_transform(all_df[['Cabin']])

all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    1309 non-null   int64
 1   Name      1309 non-null   object
 2   Sex       1309 non-null   object
 3   Age       1309 non-null   float64
 4   SibSp     1309 non-null   int64
 5   Parch     1309 non-null   int64
 6   Ticket    1309 non-null   object
 7   Fare      1308 non-null   float64
 8   Cabin     1309 non-null   object
 9   Embarked  1309 non-null   object
 10  train     1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

In [52]:
#dropping irrelevant features
all_df.drop(['Name'], axis = 1, inplace = True)
# all_df.drop(['Cabin'], axis = 1, inplace = True)
#df.drop(['Model'], axis = 1, inplace = True)
# df.drop(['Distance'], axis = 1, inplace = True)
all_df['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6, 9])

In [53]:
#converting categorical columns to dtype category for the One Hot Encoder
all_df['Pclass'] = all_df.Pclass.astype('category')
all_df['Sex'] = all_df.Sex.astype('category')
all_df['SibSp'] = all_df.SibSp.astype('category')
all_df['Parch'] = all_df.Parch.astype('category')
all_df['Ticket'] = all_df.Ticket.astype('category')
all_df['Cabin'] = all_df.Cabin.astype('category')
all_df['Embarked'] = all_df.Embarked.astype('category')

# df['Colour'] = df.Colour.astype('category')
all_df.head()

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,train
PassengerId,,,,,,,,,,
1,3,male,22.0,1,0,A/5 21171,7.2500,C23 C25 C27,S,1
2,1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
3,3,female,26.0,0,0,STON/O2. 3101282,7.9250,C23 C25 C27,S,1
4,1,female,35.0,1,0,113803,53.1000,C123,S,1
5,3,male,35.0,0,0,373450,8.0500,C23 C25 C27,S,1

In [54]:
cat_col =['Pclass', 
          'Sex', 
          'SibSp', 
          'Parch', 
          'Ticket', 
          'Cabin', 
          'Embarked', 
          'Age'
          ]
for col in cat_col:
  all_df = pd.get_dummies(all_df,prefix=[col], columns = [col], drop_first=True)
all_df.head()

,Fare,train,Pclass_2,Pclass_3,Sex_male,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,...,Age_64.0,Age_65.0,Age_66.0,Age_67.0,Age_70.0,Age_70.5,Age_71.0,Age_74.0,Age_76.0,Age_80.0
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,7.2500,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,71.2833,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7.9250,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,53.1000,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,8.0500,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
noncat_col = ['Fare']
for col in noncat_col:
  all_df[col] = StandardScaler().fit_transform(all_df[[col]])
all_df.head()

,Fare,train,Pclass_2,Pclass_3,Sex_male,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,...,Age_64.0,Age_65.0,Age_66.0,Age_67.0,Age_70.0,Age_70.5,Age_71.0,Age_74.0,Age_76.0,Age_80.0
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,-0.503402,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.734222,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-0.490356,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.382778,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,-0.487940,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
train_df = all_df[all_df['train'] == 1].drop('train', axis = 1)
test_df = all_df[all_df['train'] == 0].drop('train', axis = 1)

In [57]:
X_train, X_test, y_train, y_test = train_test_split(train_df, target,
                                                    test_size = 0.3,
                                                   random_state = 42)

In [59]:
from xgboost.sklearn import XGBClassifier
parameters = {
    'max_depth': range (2, 10, 1),
    'n_estimators': range(60, 220, 40),
    'learning_rate': [0.3,0.1, 0.01, 0.05]
}
estimator = XGBClassifier()
model = GridSearchCV(
    estimator=estimator,
    param_grid=parameters,
    scoring = 'roc_auc',
    n_jobs = 10,
    cv = 3,
    verbose=False
)
model.fit(X_train, y_train)

GridSearchCV(cv=3,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     callbacks=None, colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None,
                                     early_stopping_rounds=None,
                                     enable_categorical=False, eval_metric=None,
                                     gamma=None, gpu_id=None, grow_policy=None,
                                     importance_type=None,
                                     interaction_constraints=None,
                                     learning_rate=None, max_bin=None,
                                     max_ca...
                                     max_delta_step=None, max_depth=None,
                                     max_leaves=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n_estimators=100, n_jobs=None,
                                     num_parallel_tree=None, predictor=None,
                                     random_state=None, reg_alpha=None,
                                     reg_lambda=None, ...),
             n_jobs=10,
             param_grid={'learning_rate': [0.3, 0.1, 0.01, 0.05],
                         'max_depth': range(2, 10),
                         'n_estimators': range(60, 220, 40)},
             scoring='roc_auc', verbose=False)

In [60]:
model.best_params_

{'learning_rate': 0.1, 'max_depth': 2, 'n_estimators': 180}

In [63]:
print("model score: %.3f" % model.score(X_test, y_test))
y_pred = model.predict(X_test)
errors = confusion_matrix(y_test, y_pred)
print(errors)

model score: 0.855
[[141  16]
 [ 41  70]]

In [108]:
test_y_pred = model.predict(test_df)

In [109]:
test_pred_df = pd.DataFrame({'PassengerId' : test_df.index, 'Survived': test_y_pred})
test_pred_df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [110]:
# converting dataframe to csv file
test_pred_df.to_csv('ninthtry.csv', encoding='utf-8', index=False)

In [111]:
# downloading csv file
from google.colab import files
files.download("ninthtry.csv")